/*  font-family: 'Montserrat', sans-serif;*/
    
*,
::before,
::after{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body
{
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;;
    font-size: 62.5%;
    color: white;
    background-image: url(media/barcelona_marina.jpg);
    background-position: fixed;
    background-size: 100%;
}

@media only screen and (max-width: 700px)
{
body
{
    background-image: url('media/torre_agbar_barcelona.jpg');
    background-position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

}

.navbar
{
    width: 100%;
    font-size: 10px;
    background: transparent;
    position: fixed;
    display: block;
    top: 0; left: 0;
    font-size: 2em;   
    font-family: 'Open Sans Condensed', sans-serif;
    z-index: 1;
}

.navbar ul 
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar ul li
{
    float: center;
    padding: 10px 10px;
    transition: all 500ms ease-in-out;
    
}
.smooths ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
    padding: 20px 70px;
    color: white;
    
}

.navbar ul li:hover
{
    transform: scale(2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.scrolls
{
    position: fixed;
    top: 45%;
    color: white;
    transition: translateY(-50%);
    right: 2.5em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scrolls div
{
    transition: all 500ms ease-in-out;
}

@media only screen and (max-width: 600px) {

    .scrolls div, .smooths .navbar
    {
        display: none;    
    }
    }

.scrolls div a
{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Rajdhani', sans-serif;
    
}

.scrolls div:hover
{
    transform: scale(1.5);
    transition-timing-function: linear;
    transition-duration: 500ms;
}

.smooths
{
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory
}

#home_section
{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 700px) {

#home_section
{
    background-color: transparent;
}
}

#home_section img
{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin: 15em 0 0 17em ;
}

@media only screen and (max-width: 700px){
    #home_section img
    {
        margin: 30em 0  0 8em;
    }
}

#home_section h1
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    margin: 0;
    padding: .5em 0em 0 .35em;
    line-height: .7em;
}

@media only screen and (max-width: 700px){

#home_section h1
{
    line-height: 1.1em;
    font-size: 3em;
    padding-top: 0em;
    margin-left: .7em;
}
}
#home_section h3
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0em 0 0;
    bottom: 0;
}

@media only screen and (max-width: 700px){

    #home_section h3
    {
        font-size: 1.3em;
        padding-left: 0.3em;
        
   }
    }

#aboutme_section
{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 700px){

#aboutme_section
{
    background-color: transparent;

}
}

#aboutme_section h1
{
    font-size: 6em;
    line-height: 0;
}

@media only screen and (max-width: 700px){

#aboutme_section h1
{
    font-size: 3em;
    width: 100vw;
    line-height: 1em;
    text-align: center;
}
}
#aboutme_section p
{
    font-size: 2em;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}

@media only screen and (max-width: 700px) {

    #aboutme_section p
    {
        margin: 1em 0 1em 0;
        padding: 0 .5em 0 .5em;
        font-size: 1.6em;
    }
}

#aboutme_section div
{
    width: 100%;
    display: inline-block;
    color: white;
}

@media only screen and (max-width: 700px){

#aboutme_section div
    {
        display: block;
        
    }
    }

#aboutme_section div .skill
{
    display: inline-block;    
    background-color: transparent;
    width: 30%;    
    margin: .5em;
}

@media only screen and (max-width: 700px){

#aboutme_section div .skill
    {
        display: block;
        margin: 0 0 0 2em;
    }
}
#aboutme_section div .skill p
{
    margin: 0 0 0 2em;
    width: 375px;
    display: block;
    text-align: left;
}

@media only screen and (max-width: 700px){

#aboutme_section div .skill p
{
    margin-left: 1em;
    text-align: justify;
    font-size: 1.7em;
    line-height: 1.5em;
}

}
#experience_section
{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 700px){

#experience_section
{
    background-color: transparent;
}
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 30px 0 40px 0;
    width: 100vw;
  }
  
@media only screen and (max-width: 700px){

.grid-container
{
    display: block;
}
}
  
  .grid-container > div {
    background-color: transparent;
    text-align: center;
    padding: 20px 20px 0 20px;
    font-size: 2em;
}

@media only screen and (max-width: 700px){

    .grid-container div 
{
    padding: 0.5em .3em 0.5em .3em;
}
}

  .grid-container div p
{
    line-height: 1em;
    width: 100%;
    padding: 0.5em 0 0 0;
    margin: 10px 0 0 0;
}

@media only screen and (max-width: 700px){

    .grid-container div p
    {
        text-align: center;
        font-size: .9em;
        padding: 0 .3em 0 .3em;
    }
    }

.grid-container div p a
{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 700px){

    .grid-container div p a
    {
        color: rgb(179, 179, 179);
    }
    }

#contact_section
{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 700px){

#contact_section
{
    background-color: transparent;
}
}

#contact_section div
{
    margin:0;
    padding: 1em 3em;
    background-color: transparent;
    color: white;
    border-radius: 3em;
}

@media only screen and (max-width: 700px){

    #contact_section div
    {
width: 100%;
    }
}
#contact_section div h3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    line-height: 0em;
    text-align: center;
}

@media only screen and (max-width: 700px){

    #contact_section div h3
    {
        font-size: 3em;
    }
}

#contact_section div p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 0em;
    text-align: center;
}

@media only screen and (max-width: 700px){

#contact_section div p
{
    font-size: 2em;
}
}

#contact_section a
{
    margin-left: 18em;
}

@media only screen and (max-width: 700px){

#contact_section div a
{
    margin-left: 8em;
}
}
    
footer
{
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    height: 1em;
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 1.6em;

}
